{% extends 'Front.html.twig' %}
{% block container %}

<div class="alert alert-success" role="alert">
    <strong>Bien Joué !Vous  pouvez maintenant poster une annonce</strong>

</div>




{% endblock %}